@{
    ViewBag.Title = "New Purchase Order";
    ViewBag.CurrentEntity = "Purchase Order";
    ViewBag.WebPageTitle = "New Purchase Order";
}

@section css {
    <link href="~/dist/css/select2.min.css" rel="stylesheet" />
}
<div ng-controller="purchaseOrderCtrl as purchaseOrder" ng-init="purchaseOrder.getProducts();purchaseOrder.getSuppliers();">
    <div class="navbar navbar-static-top toolbar">
        <ul class="nav navbar-nav pull-right">
            <li><a href="#" ng-click="purchaseOrder.save(); $event.preventDefault();" title="Create Service"><span class="fa fa-save"></span>&nbsp;SAVE</a></li>
        </ul>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Dashboard/">Home</a></li>
            <li class="breadcrumb-item"><a href="~/PurchaseOrder/">Purchase Order</a></li>
            <li class="breadcrumb-item actions">New Purchase Order</li>
        </ol>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="ibox-content">
            <div class="form-horizontal">
                @Html.ValidationSummary(true)             
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h4>General Information</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 label-left">PO Number</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly="readonly" class="form-control" placeholder="System Generated" />
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 label-left">Supplier</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" ng-options="item as item.Code for item in purchaseOrder.supplierList track by item.SupplierId" ng-model="purchaseOrder.supplierId">
                                            <option value="" selected disabled="disabled">Select a Supplier</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3 label-left">Remarks</label>
                                    <div class="col-sm-9">
                                        <textarea ng-model="purchaseOrder.remarks" class="form-control" style="resize:none"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h4>Purchase Order Items</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <select class="form-control" ng-options="item as item.ProductCode for item in purchaseOrder.productList track by item.ProductId" ng-model="purchaseOrder.productId">
                                            <option value="" selected disabled="disabled">Select a Product</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="number" min="0" ng-model="purchaseOrder.Quantity" class="form-control input-sm">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-sm" ng-click="purchaseOrder.addRowToItems(purchaseOrder.productId, purchaseOrder.Quantity);" type="button"><span class="fa fa-plus"></span></button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7">
                                <table class="table table-hover table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Product Code</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="purchaseOrderItem in purchaseOrder.itemList">
                                            <td ng-bind="purchaseOrderItem.ProductCode"></td>
                                            <td ng-bind="purchaseOrderItem.Quantity"></td>
                                            <td ng-bind="purchaseOrderItem.Product.UnitPrice | currency : 'P'"></td>
                                            <td><a role="button" ng-click="purchaseOrder.removeRowToItems($index);"><span class="fa fa-trash-o"></span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-md-2">
                        <label class="control-label">Total Amount</label>
                        <input type="text" readonly="readonly" ng-model="purchaseOrder.totalAmount" class="form-control input-sm" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Total Product</label>
                        <input type="text" readonly="readonly" ng-model="purchaseOrder.totalQuantity" class="form-control input-sm" />
                    </div>*@
                </div>
                @Html.Partial("~/Views/Shared/_RecordInformationCreate.cshtml")
            </div>
        </div>
        <input id="submitButton" type="submit" class="hidden" />
    }
</div>
@section Scripts {
    <script src="~/dist/js/select2.full.min.js"></script>
    <script>      
        $('select.form-control').select2({ theme: 'classic' });
    </script>
}
