@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link href="~/dist/css/inspinia/style.css" rel="stylesheet" />
}


@{
    ViewBag.Title = "List of Values";
    ViewBag.CurrentEntity = "List of Values";
    ViewBag.WebPageTitle = "Configuration for List of Values";
}

<div class="container">

    <div class="row">
        <div class="col-sm-3">
            <a href="/Product">
                <div class="widget style1 customgray-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-product-hunt fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> List of Products</span>
                            <h2 class="font-bold">PRODUCT</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#">
                <div class="widget style1 customgray-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-bookmark-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> List of Categories</span>
                            <h2 class="font-bold">CATEGORY</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#">
                <div class="widget style1 customgray-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-eyedropper fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> List of Colors</span>
                            <h2 class="font-bold">COLOR</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#">
                <div class="widget style1 customgray-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-user-md fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> List of Services</span>
                            <h2 class="font-bold">SERVICE</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="#">
                <div class="widget style1 customgray-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-home fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> List of Branches</span>
                            <h2 class="font-bold">BRANCH</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="#">
                <div class="widget style1 customgray-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-truck fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> List of Suppliers</span>
                            <h2 class="font-bold">Supplier</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


@section scripts {
    <script>

    </script>
}