@using System.Configuration
<nav class="navbar navbar-default navbar-static-top top-navbar">
    
    <div class="navbar-header">
        <a href="~/Dashboard/Index" class="navbar-brand">@ConfigurationManager.AppSettings["customer"]</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">@if(Request.Cookies["App"] != null){ @Request.Cookies["App"]["fullName"].ToString() } </a></li>
        <li class="dropdown user-info">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="~/Images/rex.jpg" class="img-square nav-image" alt="User Image">
            </a>
            <ul class="dropdown-menu">
                <li class="body-menu">
                    <img src="~/Images/rex.jpg" class="profile-image" alt="User Image">
                    <p class="username">@if (Request.Cookies["App"] != null)
{ @Request.Cookies["App"]["fullName"].ToString() }</p>
                    <p class="position">@ConfigurationManager.AppSettings["customer"]</p>
                    <div class="pull-left">
                        <a href="#" class="btn btn-sm btn-primary">
                            Profile
                        </a>
                    </div>
                    <div class="pull-right">
                        <a href="~/Auth/Logout" class="btn btn-sm btn-primary">Logout</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav>